<% include ../../partials/header %>

<div class="ui main center aligned text container">
    <h1 class="ui huge header">
        Numerical Computational Methods
    </h1>
    <h4 class="ui large header">
        Bisection method
    </h4>
    <div class="ui divider"></div>

    <div>
        <p>Determining approximate root of <strong>f(x) = -12x<sup>5</sup> - 6.4x<sup>3</sup> + 12</strong></p>
        <p>Stop condition: <strong>0.0000001</strong></p>
        <p>Interval: <strong><%=results.iv %> to <%= results.fv %></strong></p>
        <a href="/" class="ui button">Go back</a>
    </div>
    <div class="ui divider"></div>

    <div>
        <table class="ui selectable celled table center aligned">
            <thead>
                <tr>
                    <th>Iteration</th>
                    <th>Initial Value</th>
                    <th>Final Value</th>
                    <th>Middle point</th>
                </tr>
                <% for(let i = 0; i < results.iterations.length; i++){ %>
                <tr>
                    <td>
                        <%= results.iterations[i] + 1 %>
                    </td>
                    <td>
                        <%= results.ivs[i] %>
                    </td>
                    <td>
                        <%= results.fvs[i] %>
                    </td>
                    <% if(i == (results.iterations.length -1)){ %>
                        <td class="positive">
                            <%= results.mps[i] %>
                        </td>
                    <% } else {%>
                        <td>
                            <%= results.mps[i] %>
                        </td>
                    <% } %>
                </tr>
                <% } %>
            </thead>
        </table>

        <div class="ui divider"></div>
        <h4 class="ui huge header"> Root: <strong><%= results.mps[results.iterations.length -1] %></strong></h4>
        <h6 class="ui medium header"> Time elapsed: <strong><%= results.time %></strong> seconds.</h6>

        <div class="ui divider"></div>

    </div>

</div>
<% include ../../partials/footer %>